<!-- Vita Luxe custom hero -->

<div class="page-width">
  <div class="vitaluxe-hero-content">
    {% if section.blocks.hero_text_image != 'blank' %}
      <img height="" width="" src="{{ section.block.hero_text_image | asset_url }}" alt="">
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "VitaLuxe hero",
  "class": "vitalux-hero-section",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.announcement-bar.settings.auto_rotate.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "hero_text_image",
      "name": "Hero text image",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_text_image",
          "label": "Hero text image"
        }
      ]
    },
    {
      "type": "hero_button",
      "name": "Hero button",
      "settings": [{}]
    },
    {
      "type": "hero_product_image",
      "name": "Hero product image",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_product_image",
          "label": "Hero product image"
        }
      ]
    },
    {
      "type": "hero_product_benefits",
      "name": "Hero product benefits",
      "settings": [{}]
    }
  ],
  "presets": [
    {
      "name": "VitaLuxe Hero",
      "blocks": [
        {
          "type": "hero_text_image"
        }
      ]
    }
  ]
}
{% endschema %}
