<!-- Vita Luxe custom hero -->
<div class="page-width" {{ section.shopify_attributes }}>
  <div class="vitaluxe-hero-content">
    {% for block in section.blocks %}
      {% case block.type %}
          <!-- hero text image -->
        {% when 'hero_text_image' %}
          {% if block.settings.hero_text_image1 != 'blank' %}
            <div {{ block.shopify_attributes }}>
              <img
                height=""
                width=""
                src="{{ block.settings.hero_text_image1 | asset_url: "master" }}"
                alt="VitaLuxe Vitamins"
              >
            </div>
          {% endif %}
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "VitaLuxe hero",
  "tag": "section",
  "class": "vitaluxe-hero",
  "settings": [
    {
      "type": "color",
      "id": "hero_background_color",
      "label": "Hero background color",
      "default": "#1e1e1e"
    }
  ],
  "blocks": [
    {
      "type": "hero_text_image",
      "name": "Hero text image",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_text_image1",
          "label": "Hero text image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "VitaLuxe hero",
      "settings": {
        "hero_background_color": "#1e1e1e"
      }
    }
  ]
}
{% endschema %}
