/* custom Vita Luxe CSS */

/* color variables */
:root {
  --white: #ffffff;
  --black: #000000;
  --lightgrey: #ebebeb;
  --barbie-pink: #e9128a;
  --deep-charcoal: #1e1e1e;
}

/* button */
.button,
.shopify-challenge__button,
.customer button {
  height: 5rem;
  min-width: 16rem;
  text-transform: uppercase;
  background: var(--barbie-pink);
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:not([disabled]):hover::after,
.shopify-challenge__button:hover::after,
.customer button:hover::after,
.shopify-payment-button__button--unbranded:hover::after {
  box-shadow: none;
}

.button:before,
.shopify-challenge__button:before,
.customer button:before,
.shopify-payment-button__button--unbranded:before,
.button:after,
.shopify-challenge__button:after,
.customer button:after,
.shopify-payment-button__button--unbranded:after {
  box-shadow: none;
}

.button:hover,
.shopify-challenge__button:hover,
.customer button:hover {
  color: var(--white);
  background-color: var(--deep-charcoal);
}

/* header */
.site-header-outer {
  padding: 5rem 0;
}

.site-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--barbie-pink);
  border-radius: 3rem;
}

.header__icon,
.header__icon--cart .icon {
  height: 2.8rem;
  width: 2.8rem;
}

.cart-count-bubble {
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
  height: 2rem;
  width: 2rem;
  left: 5px;
  bottom: 13px;
}

.site-header .header__menu-item,
.site-header .header__active-menu-item {
  color: var(--white);
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
}

.site-header details[open] > .header__menu-item {
  text-decoration: none;
  color: var(--barbie-pink);
}

.header__menu-item {
  padding: 1.2rem 5rem;
}

.site-header summary .icon-caret {
  color: var(--barbie-pink);
  height: 0.7rem;
}

.site-header .header__menu-item:hover span {
  transition: color 0.2s ease-in-out;
}

.site-header .header__menu-item:hover span {
  text-decoration: none;
  color: var(--barbie-pink);
}

.site-header .header__submenu.list-menu {
  background: var(--deep-charcoal);
  width: 30rem;
  padding: 2rem 0;
}

.site-header .header__submenu .header__menu-item {
  font-size: 1.7rem;
  padding: 1.5rem 4rem;
  transition: color 0.2s ease-in-out;
}

.site-header .header__submenu .header__menu-item:hover {
  text-decoration: none;
  color: var(--barbie-pink);
}

.site-header summary.list-menu__item {
  padding-right: 6rem;
}

.site-header .header__menu-item .icon-caret {
  right: 4rem;
}

/* vitalux hero */
.vitaluxe-hero {
  overflow: hidden;
  position: relative;
}

.hero-sand-bg {
  position: absolute;
  left: 21%;
  top: 57%;
  height: 120%;
  width: AUTO;
  transform: translateY(-50%);
}

.vitaluxe-hero .page-width {
  position: relative;
}

.vitaluxe-hero-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
  z-index: 1;
  position: relative;
}

.vitaluxe-hero-content-block {
  max-width: 80%;
}

.vitaluxe-hero-content-block img {
  width: 100%;
}

.vitaluxe-hero .button:hover {
  background-color: var(--white);
  color: var(--deep-charcoal);
}

/* index featured products */
.index-page .product-grid {
  justify-content: space-between;
  flex-direction: row;
  gap: 10rem;
  max-width: 75rem;
  margin: 0 auto;
}

.index-page .product-grid .grid__item {
  max-width: 32rem;
}

.index-page .product-grid .card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-page .quick-add__submit {
  max-width: 16rem;
  display: inline-block;
  min-width: 16rem;
}

.index-page .product-grid .full-unstyled-link {
  font-size: 2rem;
  font-weight: 700;
}

.index-page .card-information {
  text-align: center;
  color: #292126;
}

.index-page .price .price-item {
  font-size: 2rem;
}

.index-page .card__content {
  text-align: center;
}

.index-page .collection__view-all {
  margin-top: 8rem;
}
